@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Bilbo+Swash+Caps&display=swap');

:root {
    font-family: 'Balsamiq Sans', cursive;
    --main-color: #ffffff;
}
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

header {
    background-color: green;
}

header .logo {
    font-family: 'Bilbo Swash Caps', cursive;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    font-size: 2rem;
}

header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 10px;
}

header .logo a,
header nav .top-menu li a {
    text-decoration: none;
    color: var(--main-color);
    
}

header .delivery {
    
}