/* Основна частина (main) */
main {
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}

/* Банер (baner) */
main .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 3.3rem;
    font-family: 'Exo 2', sans-serif;
    color: var(--text-color);
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
}

.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    display: flex !important;
}

.carousel-caption {
    bottom: auto;
    justify-content: center;
}

@media (max-width: 500px) {
    main .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        font-size: 2rem;
    }
}

/* Розділ про нас (about us) */
main .about-us {
    display: flex;
    background: linear-gradient(-13deg, #000, var(--main-color));
    flex-direction: column;
    padding: 20px;

}

main .about-us img {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 9px var(--text-color);
}

main .about-us h2 {
    margin-top: 30px;
    text-shadow: 4px 4px 4px black;
}

main .about-us p {
    text-align: left;
    padding: 10px 0 10px 0;
    line-height: 1.5;
    text-shadow: 4px 4px 4px black;
}

@media (min-width: 768px) {
    main .about-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }

    main .about-us img {
        max-width: 400px;
        grid-column: 1;
        grid-row: 1/3;
        box-shadow: 0px 0px 9px var(--text-color);
    }

    main .about-us h2 {
        grid-column: 2;
        grid-row: 1;
        margin-left: 30px;
    }

    main .about-us p {
        grid-column: 2;
        grid-row: 2;
        margin-left: 30px;
    }
}

/* Гарячі пропозиції (hot deals) */
main .hot-deals {
    background-image: url(../img/hot-deals.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    line-height: 2.5rem;
}

main .hot-deals h2 {
    font-size: 2rem;
    margin-top: 40px;
    text-shadow: 4px 4px 4px black;
}

main .hot-deals p {
    margin-top: 10px;
    text-shadow: 4px 4px 4px black;
}

main .hot-deals .hot-deal {
    padding: 20px;
    text-align: center;
    margin: 20px;
    text-shadow: 4px 4px 4px black;
    border-radius: 10px;
}

main .hot-deals .burger {
    background: linear-gradient(41deg, #000000, #BE821B);
}

main .hot-deals .rack-of-lamb {
    background: linear-gradient(-53deg, #000000, #C51713);
}

main .hot-deals .ramen {
    background: linear-gradient(-32deg, #000000, #1E7115);
}

main .hot-deals img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


main .hot-deal h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

main .hot-deal span {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
}

main .hot-deal p {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    min-height: 40px;
}

main .hot-deal button {
    margin-top: 25px;
    width: 100%;
    height: 60px;
    font-weight: bold;
    border-radius: 30px;
}

main .hot-deal button:hover {
    background-color: #e2d411;
    color: #fff;
    transition: 0.3s;
}

@media (min-width: 758px) {
    .hot-deals .deals-container {
        display: flex;
        padding: 30px;
        align-items: center;
    }

    main .hot-deals .hot-deal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 560px;
        align-items: center;
        margin: 0;
    }

    main .hot-deals .burger {
        border-radius: 10px 0 0 10px;
    }

    main .hot-deals .rack-of-lamb {
        border-radius: 10px;
    }

    main .hot-deals .ramen {
        border-radius: 0 10px 10px 0;
    }

    main .hot-deals .deals-container .rack-of-lamb {
        justify-content: space-between;
        height: 600px;
        position: relative;
        box-shadow: 0.5px 0.5px 50px rgba(255, 255, 255, 0.1);
    }

    main .hot-deal button {
        width: 50%;
    }
}