@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Exo+2:wght@400;700&display=swap');

:root {
    font-family: 'Exo 2', sans-serif;
    --main-color: green;
    --text-color: #F5F5C6;
}
h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
    color: var(--text-color);
}

/*Заголовок (header)*/
header {
    display: block;
    background-color: green;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    line-height: 45px;
    
}

header .logo {
    font-family: 'Bad Script', cursive;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

header nav .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 1rem;
}

header .logo a,
header nav .top-menu li a {
    text-decoration: none;
    color: var(--text-color);
    
}

header button {
   font-size: 1.1rem;
   padding: 5px 10px 5px 10px;
   border: 3px solid #d6b600;
   border-radius: 55px;
   font-weight: bold;
   font-family: 'Bad Script', cursive;
}

@media (min-width: 660px) {
    header {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        padding: 35px 20px;
    }

    header .logo {
        text-align: left;
        padding-left: auto;
    }
    header nav .top-menu li {
        margin: 0 5px;
    }
    
    header button {
        padding: 0 5px;
    }
}

@media (min-width: 810px) {
    header {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        padding: 35px 20px;
    }
    header .logo {
        text-align: left;
        padding-left: auto;
    }
    
    header button {
        padding: 0 5px;
    }
}
/* Основна частина (main) */
    /* Банер (baner) */
main .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/banner-photo.jpeg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
}

main .banner h2 {
    font-size: 40px;
    font-family: 'Exo 2', sans-serif;
    color: var(--text-color);
}
    /* Розділ про нас (about us) */
main .about-us {
    display: flex;
    background-color: var(--main-color);
    flex-direction: column;
    padding: 20px;
    
}
main .about-us img {
    display: block;
    width: 100%;
}
main .about-us h2 {
    margin-top: 30px;
}

main .about-us p {
    text-align: left;
    padding: 10px 0 10px 0;
    line-height: 1.5;
}

    /* Гарячі пропозиції (hot deals) */
main .hot-deals {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px 100px 100px;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/hot-deals.jpeg);
    background-position: center;
    background-size: cover;
}

main .hot-deals h2 {
    font-size: 2rem;
    margin-top: 40px;
}
main .hot-deals p {
    margin-top: 10px;
}

main .hot-deals .hot-deal {
    padding: 20px;
    text-align: center;
    max-width: 200px;
}

main .hot-deals .hot-deal .burger {
    background-color: #BE821B;
}

main .hot-deals img {
    display: block;
    width: 100%;
}