main {
    background-image: url(../img/menu.jpeg);
    background-position: center;
    background-size: cover;
}

main .wrapper-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 20px;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 4px 4px 4px black;
    min-height: 640px;
}

main .wrapper-menu h2 {
    margin-bottom: 50px;
    font-weight: bold;
}

main .menu {
    display: flex;
    justify-content: center;
}

main .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid;
    border-color: rgba(245, 245, 198, 0.2);
    padding: 0 20px 20px 20px;
}

main .menu-container .dish-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 25px 0 25px 0;
}

main .menu-container .dish-container h4 {
    grid-column: 1/2;
    font-weight: bold;
    font-size: 1.3rem;
}

main .menu-container .dish-container span {
    grid-column: 2;
    font-weight: bold;
    font-size: 1.3rem;
}

main .menu-container .dish-container p {
    grid-column: 1/3;
}

main .wrapper-menu .menu h3 {
    margin: 0;
}

main .wrapper-menu .menu input {
    display: none;
}

main .wrapper-menu .menu input:checked+label {
    opacity: 1;
    border-bottom: 2px solid var(--text-color);
}

main .wrapper-menu .menu label {
    background-color: transparent;
    color: var(--text-color);
    padding: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    opacity: 0.7;
    margin: 0;
}

main .wrapper-menu .menu label:hover {
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
}

main .wrapper-menu .menu input:focus {
    border: 10px solid var(--text-color);
    opacity: 1;
}

@media (min-width: 750px) {
    main .wrapper-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px;
        font-family: 'Exo 2', sans-serif;
        text-shadow: 4px 4px 4px black;
        min-height: 510px;
    }

    main .wrapper-menu h2 {
        margin-bottom: 50px;
        font-weight: bold;
    }

    main .menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid;
        border-color: rgba(245, 245, 198, 0.2);
    }

    main .menu-container .dish-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 53%;
        margin: 20px 20px 0 0;
    }

    main .menu-container .dish-container h4 {
        grid-column: 1/4;
        font-weight: bold;
        font-size: 1.3rem;
    }

    main .menu-container .dish-container span {
        grid-column: 4;
        font-weight: bold;
        font-size: 1.3rem;
    }

    main .menu-container .dish-container p {
        grid-column: 1/5;
    }
}